[Desktop Entry]
Name=Network Scanner
Comment=Tactical cross-platform Network Scanner
Exec=Network-Scanner
Icon=org.tiwut.NetworkScanner
Terminal=false
Type=Application
Categories=Network;Security;Qt;
